<a href={{this.url}}>
  {{#if this.topic.thumbnails}}
    <img
      src={{this.fallbackSrc}}
      srcset={{this.srcset}}
      width={{this.width}}
      height={{this.height}}
      loading="lazy"
      class="topic-tile-thumbnail"
    />
  {{/if}}

  <div class="topic-info">
    <span class="topic-title">{{this.topic.title}}</span>
    <span class="author">
      {{#user-link user=this.topic.creator}}
        {{avatar this.topic.creator imageSize="large"}}
      {{/user-link}}
    </span>
  </div>
</a>